<nav class="flex flex-col justify-center items-center text-center text-base text-gray-normal mb-8 px-5 md:flex-row md:items-start md:justify-start md:text-left md:mb-0" aria-label="Footer links">

    <div class="md:pr-12" role="region" aria-labelledby="terms-heading">
        <h2 id="terms-heading" class="font-bold pb-4 text-lg text-font-main-color">Terms and conditions</h2>
        <ul class="[&>li]:pb-2 [&>li]:cursor-pointer [&>li]:m-auto [&>li]:w-fit 
            md:[&>li]:m-0">
            <li class="hover:underline"><a href="#">Lorem, ipsum dolor.</a></li>
            <li class="hover:underline"><a href="#">Lorem ipsum dolor sit.</a></li>
            <li class="hover:underline"><a href="#">Lorem, ipsum.</a></li>
            <li class="hover:underline"><a href="#">Lorem, ipsum.</a></li>
            <li class="hover:underline"><a href="#">Lorem ipsum dolor sit.</a></li>
            <li class="hover:underline"><a href="#">Lorem ipsum dolor sit amet.</a></li>
            <li class="hover:underline"><a href="#">Lorem, ipsum.</a></li>
        </ul>
    </div>

    <div class="md:pr-12" role="region" aria-labelledby="info-heading">
        <h2 id="info-heading" class="font-bold pb-4 text-lg text-font-main-color">Info</h2>
        <ul class="[&>li]:pb-2 [&>li]:cursor-pointer [&>li]:m-auto [&>li]:w-fit
            md:[&>li]:m-0">
            <li class="hover:underline"><a href="#">Lorem ipsum dolor sit.</a></li>
            <li class="hover:underline"><a href="#">Lorem, ipsum dolor.</a></li>
            <li class="hover:underline"><a href="#">Lorem</a></li>
            <li class="hover:underline"><a href="#">Contact</a></li>
        </ul>
    </div>

    <div class="md:pr-12" role="region" aria-labelledby="my-account-heading">
        <h2 id="my-account-heading" class="font-bold pb-4 text-lg text-font-main-color">My account</h2>
        <ul class="[&>li]:pb-2 [&>li]:cursor-pointer [&>li]:m-auto [&>li]:w-fit 
            md:[&>li]:m-0">
            <li class="hover:underline"><a href="#">My Wish List</a></li>
            <li class="hover:underline"><a href="#">My Orders</a></li>
            <li class="hover:underline"><a href="#">Account settings</a></li>
        </ul>
    </div>

</nav>