<article class="w-full max-w-[1400px] mb-16 mx-auto px-4 lg:grid lg:grid-cols-[320px,1fr] lg:gap-12
xl:grid-cols-[340px,1fr] 2xl:grid-cols-[386px,1fr]">
    
        <img 
            src="../../../assets/images/hex-grid.png" 
            alt="home about image" 
            class="hidden object-contain mt-20 lg:block lg:w-[340px] lg:h-[380px] xl:w-[386px] xl:h-[430px] 2xl:w-[432px] 2xl:h-[480px]"
            width="340"
            height="380"
            priority="true"
        >
    <div>
        <h2 class="text-[28px] lg:text-[32px] xl:text-[36px] 2xl:text-[40px] font-bold text-font-main-color mb-8">Board game enthusiasts</h2>
        <p class="text-gray-normal pb-4 lg:text-lg xl:text-xl">Lorem ipsum, dolor sit amet consectetur 
            adipisicing elit. Cupiditate consequuntur distinctio aperiam facere aliquid expedita 
            ipsum dolorum repudiandae quis. Dolorem sit distinctio blanditiis dolores asperiores 
            voluptatibus voluptas odit tempore quae praesentium, officia quo soluta facilis ipsam 
            ullam repudiandae laborum aut similique deserunt! Doloribus sint, eius maxime eum 
            dolorum inventore deserunt repudiandae eos molestias, quod amet sed impedit,
            illum harum veritatis rerum fugit.</p>
    
        <iframe 
            class="w-full sm:w-[560px] h-[315px] aspect-[560/315]" 
            src="https://www.youtube.com/embed/8GPy8ekNfPY?si=ifWnvx1-en8AEXRy" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
        </iframe>
    </div>
    
</article>