<div class="relative bg-green-normal w-full sm:w-[initial]">
    <input type="text" placeholder="Search" 
    class="h-[50px] bg-font-additional-color leading-[50px] text-font-always-dark-color border-0 px-5 py-3 text-xl font-light rounded-sm w-full focus-visible:outline-none focus:border-transparent focus:ring-0 
            sm:w-[480px] xl:h-[56px] xl:leading-[56px]">
    <app-search-icon class="h-5 stroke-[5px] cursor-pointer stroke-black fill-black absolute top-3.5 right-6 xl:top-4 hover:scale-110" />
</div>
