<div class="text-center px-5 text-font-main-color mb-8 md:text-right">
    <div class="pb-2.5">
        <h2 class="text-[26px] lg:text-[30px] xl:text-[30px] 2xl:text-[32px] hover:text-pine-green cursor-pointer">+48 123 45 67 89</h2>
        <p class="text-[13px] lg:text-[14px] xl:text-[15px] 2xl:text-[16px] text-gray-normal">Monday - Friday: 8<sup>00</sup> - 18<sup>00</sup></p>
        <p class="text-[13px] lg:text-[14px] xl:text-[15px] 2xl:text-[16px]  text-gray-normal">Saturday: 10<sup>00</sup> - 15<sup>00</sup></p>
    </div>
    <div class="pb-2.5">
        <h2 class="text-[26px] lg:text-[30px] xl:text-[30px] 2xl:text-[32px] hover:text-pine-green cursor-pointer">Get in touch</h2>
        <p class="text-[13px] lg:text-[14px] xl:text-[15px] 2xl:text-[16px]  text-gray-normal">example&#64;gmail.com</p>
    </div>
</div>