<address class="text-center px-5 text-font-main-color mb-8 md:text-right not-italic">
    <div class="pb-2.5">
        <h2 class="text-[26px] lg:text-[30px] xl:text-[30px] 2xl:text-[32px]">
            <a href="tel:+48123456789" class="hover:text-pine-green">+48 123 45 67 89</a>
        </h2>
        <dl class="text-[13px] lg:text-[14px] xl:text-[15px] 2xl:text-[16px] text-gray-normal">
            <dt class="sr-only">Working hours:</dt>
            <dd>Monday - Friday: <time>8:00</time> - <time>18:00</time></dd>
            <dd>Saturday: <time>10:00</time> - <time>15:00</time></dd>
        </dl>
    </div>
    <div class="pb-2.5">
        <a href="mailto:example@gmail.com" class="text-[26px] lg:text-[30px] xl:text-[30px] 2xl:text-[32px] hover:text-pine-green">Get in touch</a>
        <p class="text-[13px] lg:text-[14px] xl:text-[15px] 2xl:text-[16px] text-gray-normal">
            example&#64;gmail.com
        </p>
    </div>
</address>