<div class="w-full">
    <app-header-wrapper></app-header-wrapper>
    <app-banner></app-banner>
    <app-section-title [title]="'We recommend !'"></app-section-title>
    <app-product-list></app-product-list>
    <app-offer-categories></app-offer-categories>
    <app-section-title [title]="'New products'"></app-section-title>
    <app-product-list></app-product-list>
    <app-banner></app-banner>
    <app-advertiser-banner></app-advertiser-banner>
    <app-footer-wrapper></app-footer-wrapper>
</div>
