<div class="w-full">
    <app-header-wrapper></app-header-wrapper>
    <app-banner></app-banner>
    <app-section-title [title]="'We recommend !'"></app-section-title>
    <app-home-product-list listType="recommended" />
    <app-offer-categories></app-offer-categories>
    <app-section-title [title]="'New products'"></app-section-title>
    <app-home-product-list listType="new" />
    <app-home-testimonials></app-home-testimonials>
    <app-banner></app-banner>
    <app-advertiser-banner></app-advertiser-banner>
    <app-home-about></app-home-about>
    <app-home-address></app-home-address>
    <app-footer-wrapper></app-footer-wrapper>
</div>
