<div class="w-full max-w-[1400px] bg-bg-color relative bottom-0 flex flex-col items-center justify-center m-auto">
    <div class="w-full flex flex-col md:mb-8 lg:flex-row">
        <app-footer-contact-info class="w-full order-1 md:order-2"></app-footer-contact-info>
        <app-footer-menu class="w-full order-2 md:order-1"></app-footer-menu>
    </div>
    <app-footer-payment-delivery-info class="w-full"></app-footer-payment-delivery-info>
    <app-footer-copyright-info class="w-full"></app-footer-copyright-info>
</div>