<section class="flex flex-col border-b-[1px] border-t-[1px] border-gray-normal/10 text-center text-xs text-gray-normal font-semibold py-8 px-5 lg:flex-row lg:justify-between">
    <div role="region" aria-labelledby="payment-methods">
        <h2 id="payment-methods" class="mb-4">SAFE PAYMENT THANKS TO:</h2>
        <app-payment-icons aria-label="List of available payment methods" />
    </div>
    <div role="region" aria-labelledby="shipping-methods">
        <h2 id="shipping-methods" class="mb-4">QUICK DELIVERY THANKS TO:</h2>
        <app-delivery-icons aria-label="List of available shipping methods" />
    </div>
</section>