<div class="text-center text-font-main-color mb-8">
    <div class="pb-2.5">
        <h2 class="text-[26px] hover:text-pine-green cursor-pointer">+48 123 45 67 89</h2>
        <p class="text-[13px] text-gray-normal">Monday - Friday: 8<sup>00</sup> - 18<sup>00</sup></p>
        <p class="text-[13px] text-gray-normal">Saturday: 10<sup>00</sup> - 15<sup>00</sup></p>
    </div>
    <div class="pb-2.5">
        <h2 class="text-[26px] hover:text-pine-green cursor-pointer">Get in touch</h2>
        <p class="text-[13px] text-gray-normal">example&#64;gmail.com</p>
    </div>
</div>