<section 
    class="w-full flex justify-center px-5" 
    role="banner" 
    aria-label="Sekcja banerowa">
    <div class="w-full max-w-[1400px] aspect-[1400/200]">
        <!-- Gradient background -->
        <div class="w-full h-full bg-gradient-to-br from-custom-blue to-custom-blue/50 rounded-xl shadow-xl">
            <!-- Placeholder text -->
            <div class="flex items-center justify-center h-full">
                <p class="text-lg md:text-xl lg:text-2xl font-main-font text-white text-center px-4">
                    Placeholder for banner graphic
                </p>
            </div>
        </div>
    </div>
</section>
