<div class="relative cursor-pointer sm:flex sm:flex-nowrap sm:items-center">
    <app-rook-icon></app-rook-icon>
    <div class="flex flex-col">
        <p class="hidden text-xs md:block lg:text-sm">Your basket</p>
        <p class="font-semibold text-nowrap md:text-xl md:font-bold lg:text-2xl">0.00 zł</p>
    </div>
    <div class="w-4 h-4 text-[10px] text-center absolute bottom-5 right-0 text-custom-red bg-green-dark rounded-lg sm:left-6 md:top-0 lg:hidden">
        (<span class="text-font-additional-color-light">0</span>)
    </div>
    <div class="hidden w-4 h-4 text-[10px] text-center absolute bottom-9 left-9 rounded-lg bg-custom-red text-font-additional-color-light lg:block">
        <span class="text-font-additional-color-light">0</span>
    </div>
</div>
