<div class="w-full bg-green-light flex justify-center">
    <div class="px-5 w-full font-semibold text-xs flex justify-end items-center h-[30px] lg:h-8 lg:justify-between lg:px-8 lg:text-sm xl:h-[34px] 2xl:w-[1400px] 2xl:h-9">
        <div class="hidden gap-6 items-center lg:flex">
            <p>Lorem ipsum dolor sit.</p>
            <app-circle-icon />
            <p>Lorem ipsum dolor sit amet.</p>
            <app-circle-icon />
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
        </div>
        <div class="flex gap-4 items-center">
            <p><a href="#">Log in</a> / <a href="#">Register</a></p>
            <app-theme-toggle-button class="lg:mt-1"></app-theme-toggle-button>
        </div>
    </div>
</div>

