<div class="w-full bg-green-light flex justify-center">
    <div class="px-5 w-full font-semibold text-xs flex justify-end items-center h-8 lg:justify-between lg:px-8 lg:text-sm xl:h-8 2xl:w-[1400px]">
        <div class="hidden gap-6 items-center lg:flex">
            <p>Lorem ipsum dolor sit.</p>
            <div class="rounded-xl w-2 h-2 border-font-additional-color-light border-2"></div>
            <p>Lorem ipsum dolor sit amet.</p>
            <div class="rounded-xl w-2 h-2 border-font-additional-color-light border-2"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
        </div>
        <p><a href="#">Log in</a> / <a href="#">Register</a></p>
    </div>
</div>

