<div 
    class="relative cursor-pointer sm:flex sm:flex-nowrap sm:items-center"
    role="button"
    aria-label="Shopping cart"
    tabindex="0">
    <app-rook-icon />
    <div class="flex flex-col">
        <p class="hidden text-xs md:block lg:text-sm">Your basket</p>
        <p class="font-semibold text-nowrap md:text-xl md:font-bold lg:text-2xl" aria-label="Cart total">0.00 zł</p>
    </div>
    <div class="w-4 h-4 text-font-additional-color-light text-[10px] absolute bottom-5 right-0 bg-green-dark rounded-lg sm:left-6 md:top-0 lg:bottom-9 lg:left-9 lg:bg-custom-red" aria-label="Items in cart">
        <span class="flex items-center justify-center before:content-['('] before:relative after:relative after:top-[-1px] before:top-[-1px] before:text-custom-red after:text-custom-red after:content-[')'] lg:after:hidden lg:before:hidden">0</span>
    </div>
</div>
