<section 
    class="w-full max-w-[1400px] mx-auto px-4 pt-8 relative" 
    aria-labelledby="section-heading">
    <!-- Dekoracyjne tło -->
    <div 
        class="hidden md:block absolute -left-[100px] font-[900] tracking-tighter text-custom-blue opacity-5 uppercase z-[-1] text-nowrap overflow-hidden
        md:text-[120px] md:-top-[12px] 
        lg:text-[140px] lg:-top-[22px] 
        xl:text-[160px] xl:-top-[32px]"
        aria-hidden="true">
        {{ title.endsWith('!') ? title.slice(0,-1) : title }}
    </div>
    
    <!-- Główny nagłówek -->
    <h2 
        id="section-heading"
        class="text-custom-blue text-[26px] font-bold flex items-center lg:text-[28px] xl:text-3xl 2xl:text-4xl"
        role="heading" 
        aria-level="2">
        {{ title }}
        <!-- Dekoracyjna linia -->
        <span 
            class="inline-block w-16 h-[2px] bg-custom-blue ml-4"
            aria-hidden="true">
        </span>
    </h2>
</section>